body {
  font-family: 'Inter', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:2%;

}

.card {
  width: 30rem;
  background-color:#262831;
  color: #FFFFFF;

}

h3{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 3%;
}
h4{
  font-size: 1rem;
  color:orange;
}
h5 {
  font-size: 0.7rem;
}
h6{
  font-size: 1.2rem;
  
}
.card-footer > i {
  padding-right: 4%;
  font-size:2rem;
}
